

.blog{
    width: 100%;
    height: 100%;
    display: flex;
    margin-bottom: 4rem;

}

.blog .title{
    width: 100%;
    padding-top: 3rem;
    overflow: hidden;
}
.title h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 80px;
    line-height: 98px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
}


.title p{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1em;
    color: #404040;
}


.about section {
    width: 100%;
    margin-top: 10rem;
    overflow: hidden
}


.blog .blog-section-image{
    width:100%;
    overflow: hidden;
    /* padding: 30px; */
}

.blog-section-image .river{
    width: 100%;
    height: 500px;
    background: rgba(204, 204, 204, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   border-radius: 8px;

}
.blog-section-image .logo{
    width: 436.03px;
height: 300px;
z-index: 1000;
margin-left: 45px;
margin-top: -32rem;
}

.section-filter input[type=text]{
    width: 464.82px;
height: 48px;
background: #EEEEEE;
box-shadow: 6px 16px 20px 5px rgba(170, 170, 170, 0.2);
border-radius: 100px;
}

.section-filter textarea{
    width: 464.82px;
background: #EEEEEE;
box-shadow: 6px 16px 20px 5px rgba(170, 170, 170, 0.2);
}


.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 1000;
    display: block;
    font-size: 20px;
    width: 3.375rem;
    height: 3.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.section-filter form input::-webkit-input-placeholder {
	font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 26px;
line-height: 39px;


color: #00205B;

}

.section-filter form input::-moz-placeholder {
	font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 26px;
line-height: 39px;
color: #00205B;

}

.section-filter form input:-ms-input-placeholder {
	font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 26px;
line-height: 39px;


color: #00205B;

}

.section-filter form input::-ms-input-placeholder {
	font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 39px;
padding-left: 2rem;

color: #00205B;

}

.section-filter form input::placeholder {
	font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 39px;


color: #00205B;

}


.food-cards{
width: 100%;
overflow: hidden;

}

.food-cards .card{
    border: none;
    background: #F9F9F9;
box-shadow: 6px 16px 40px 5px rgba(170, 170, 170, 0.2);
border-radius: 8px;
}

.food-cards .card .card-body .card-title{
    font-family: 'Yellowtail';
font-style: normal;
font-weight: normal;
font-size: 40px;
line-height: 55px;
text-align: center;
letter-spacing: 0.04em;

color: #000000;
}

.food-cards .card .card-body .card-text{
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.1em;
    
    color: #404040;
}

.food-cards .card .card-body .card-btn{
    
}