@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&family=Yellowtail&display=swap');


body {
    background: rgb(255 ,255 ,255) ;
}

.contribute{
    width: 100%;
    height: 100%;
    display: flex;
    margin-bottom: 4rem;

}

.contribute .title{
    width: 100%;
    padding-top: 3rem;
    overflow: hidden;
}
.title h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 80px;
    line-height: 98px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
}


.title p{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1em;
    color: #404040;
}


.contribute section {
    width: 100%;
    margin-top: 10rem;
    overflow: hidden
}

section .section-vision{
    width: 100%;
    height: 100%;

}

.section-vision h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 60px;
    padding-top: 4rem;
    line-height: 73px;
   
    letter-spacing: 0.04em;
    color: #000000
}

.section-vision .loram{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    padding-top: 3rem;
    
    line-height: 33px;
    color: #404040;
}

.section-vision .loram2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    
    line-height: 33px;
    color: #404040;
}

.section-image{
    width:100%;
    overflow: hidden;
    /* padding: 30px; */
}

.section-image img{
    width: 100%;
    height: 541px;

}

.buttuts-list{
    width:100%;
}

.buttuts-list ul li {
    font-family: 'Poppins';
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 33px;
color: #000000;
}
