@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&family=Yellowtail&display=swap');


body {
    background: rgb(255 ,255 ,255) ;
}
.food{
    padding-top: 5rem;
    width: 100%;
}

.food section{
    width: 100%;
    display: flex;
    overflow: hidden;
}

.section-heading {
    width: 100%;
    overflow: hidden;
}
.section-heading .heading{
    width: 100%;
    overflow: hidden;
    padding-top: 2rem;
}

.heading p {
    font-family: 'Poppins';
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.1em;
margin-top: 1rem;
color: #404040;
}

.heading h2{
    
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight:600;
    font-size: 50px;
    line-height: 73px;
    display: flex;
    margin-top: -2rem;
    align-items: center;
    
    color: #000000;    
}


.heading .loram{
    font-style: normal;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14.5px;
    padding-top: 3.5em;
    color: #404040;
}


.button {
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    position: relative;
    font-weight: 600;
    padding: 0.8em 1.4em;
    padding-right: 4.7em;
    border: none;
    color: white;
}
.button:before, .button:after {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    padding-top: inherit;
    padding-bottom: inherit;
    width: 4em;
    content: "\2192";
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
    text-align: center;
}
.button:before {
    background: #BA0C2F;
}

.button {
    margin-top: 0.5rem;
    padding-top: 1rem;
    width: 100%;
    height: 4.4em;
    border: 3px solid #BA0C2F;
    box-sizing: border-box;
    border-radius: 6px;
}
.arrow {
   
   background: #ffffff;
   color: #BA0C2F;
}

.arrow:after {
    content: "\2192";
    
    color: #ffffff;
}


.heading-logo{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.heading-logo img{
    width: 100%;
    height: 100%;
    padding:2rem 4rem 2rem 4rem ;
}
.heading-buttons{
    width: 100%;
    text-align: center;
    overflow: hidden;
    padding-top: 4rem;
    
}

.heading-buttons ul li {
    list-style: none;
    margin-bottom: 3rem;
    

}
.heading-buttons ul li button{
    height: 60px;
    width: 130px;
    font-weight: 600;
    font-family: 'Poppins';
    color: #BA0C2F;
    border-color: #BA0C2F;

}

.heading-buttons ul li button:hover{
    background:none;
    font-family: 'Poppins';
    color: #BA0C2F;
    border-color: #BA0C2F;

}

.food section{
    width: 100%;
    display: flex;
    overflow: hidden;
}

.section-discover {
    width: 100%;
    margin-top: 6rem;
    overflow: hidden;
}

.section-discover .discover{
    width: 100%;
    overflow: hidden;
}
.discover h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-size: 47px;
    line-height: 55px;
    padding-top: 10px;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    
    color: #000000;
    

}
.discover .discover-card{
    margin-top: 3rem;
}
.discover .dicover-imagecard{
    width:100%;
    display: flex;
}
.dicover-imagecard .card-img-top{
    height: 160px;
}

.dicover-imagecard .card-body .title{
    display: flex;
    justify-content: space-between
}
.card-body .title .card-title{
    font-family: 'Yellowtail';
    font-size: 20px;
}
.card-body .title .stars > span{
    color: #FFA723;
}
.card-body p {
    font-family: 'Poppins'
}

