@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Yellowtail&display=swap');



body {
    background: #ffffff
}
.food{
    padding-top: 5rem;
    width: 100%;
}

.food section{
    width: 100%;
    overflow: hidden;
}

.section-heading {
    width: 100%;
    overflow: hidden;
}
.section-heading .heading{
    width: 100%;
    overflow: hidden;
}

.heading p {
font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
/* identical to box height */

letter-spacing: 0.1em;

color: #404040;
}

.heading p > h2{
    
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 60px;
    line-height: 73px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #000000;    
}


.heading .loram{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: normal;
    font-size: 16.6px;
    line-height: 33px;
    padding-top: 2em;
    color: #404040;
}

/* .explore{
    width: 260px;
    height: 70px;
    display: flex;
    justify-content: space-between;
 border: 2px solid #BA0C2F;
box-sizing: border-box;
border-radius: 5px;
}

.explore > .fa{
    width: 90px;
    height: 50px;
    border: 3px solid #BA0C2F;
} */
.button {
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    position: relative;
    padding: 0.8em 1.4em;
    padding-right: 4.7em;
    border: none;
    color: white;
}
.button:before, .button:after {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    padding-top: inherit;
    padding-bottom: inherit;
    width: 5em;
    content: "\2192";
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'FontAwesome', sans-serif;
    font-size: 1.2em;
    text-align: center;
}
.button:before {
    background: #BA0C2F;
}



.button {
    width: 20em;
    height: 4.4em;
    border: 3px solid #BA0C2F;
box-sizing: border-box;
border-radius: 6px;
}
.arrow {
   
background: #ffffff;
color: #BA0C2F;
}

.arrow:after {
    content: "\2192";
    
    color: #ffffff;
}




